### backend ###
buffet-api/.phpunit.result.cache
buffet-api/tests/result
buffet-api/.env
buffet-api/logs
buffet-api/src/Database/.env
buffet-api/vendor

### frontend ###
conf/.env
buffet-app/tsconfig.app.tsbuildinfo
buffet-app/tsconfig.node.tsbuildinfo
/buffet-api/dist
