<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08ZFSSMWG7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-08ZFSSMWG7");
    </script>

    <title>Vytváření db loginu (deprecated)</title>
</head>
<body>
    <h1>Zadejte přihlašovací údaje databáze pro generaci šifrovaných dat (deprecated)</h1>
    <form action="/credGen" method="post">
        <input type="text" name="username" placeholder="db-username" disabled>
        <input type="password" name="password" placeholder="db-password" disabled>
        <button type="submit" disabled>Zašifrovat</button>
    </form>
</body>
</html>