<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>

    <form id="myForm">
        <select name="requestType">
            <option value="login">login</option>
            <option value="register">register</option>
            <option value="verify">verify</option>
            <option value="test">test</option>
            <option value="random_stuff_here">non-existent-call</option>
        </select>
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="token" placeholder="token">
        <input type="button" value="Submit" onclick="submitForm()">
    </form>

    <pre><code id="json"></code></pre>

    <script>
        function submitForm() {
            const form = document.getElementById('myForm');
            const formData = new FormData(form);

            // Convert FormData to a plain object
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            // Send data as JSON
            fetch('/api', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.headers.get('Content-Type').includes('application/json')) {
                        return response.json();
                    } else {
                        // Handle HTML or other response types
                        return response.text();
                    }
                })
                .then(result => {
                    if (typeof result === 'string') {
                        // Handle HTML or other response types
                        document.getElementById('json').innerHTML = result;
                    } else {
                        console.log(result);
                        document.getElementById('json').innerHTML = JSON.stringify(result);
                    }
                })
        }
    </script>
    </form>
</body>

</html>