<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08ZFSSMWG7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-08ZFSSMWG7");
    </script>

  <title>Test</title>
</head>

<body>
  <form id="myForm">
    <select name="requestType">
      <option value="updatePassword">updatePassword</option>
      <option value="updateUser">updateUser</option>
      <option value="updatePayment">updatePayment</option>
      <option value="updateOrder">updateOrder</option>
      <option value="getOrderTimeTable">getOrderTimeTable</option>
      <option value="generateTemp">generateTemp</option>
      <option value="createOrder">createOrder</option>
      <option value="generateTimeslots">generateTimeslots</option>
      <option value="makeOrderEvent">makeOrderEvent</option>
      <option value="getOrders">getOrders</option>
      <option value="getMenu">getMenu</option>
      <option value="isAdmin">isAdmin</option>
      <option value="login">login</option>
      <option value="register">register</option>
      <option value="verify">verify</option>
      <option value="test">test</option>
      <option value="random_stuff_here">non-existent-call</option>
    </select>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="password" placeholder="password" />
    <input type="text" name="confirmPassword" placeholder="confirmPassword" />
    <input type="text" name="token" placeholder="token" />
    <input type="text" name="page" placeholder="page" value="1" />
    <input type="text" name="itemsCount" placeholder="itemsCount" value="1" />
    <input type="text" name="items" placeholder="items" value='[{"id":1,"quantity":1,"variants":[]}]' />
    <input type="time" name="startTime" value="09:00">
    <input type="time" name="endTime" value="09:05">
    <input type="date" name="pickUpDate" value="2024-12-14">
    <input type="text" name="paymentMethod" placeholder="paymentMethod" value="thePay">
    <input type="number" name="limit" placeholder="limit" value="5">
    <input type="number" name="interval" placeholder="interval" value="5">
    <input type="number" name="orderId" placeholder="orderId">
    <input type="tel" name="tel" placeholder="tel">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="fullName" placeholder="fullName">
    <input type="text" name="type" placeholder="type" value="state_changed">
    <input type="text" name="paymentId" placeholder="paymentId">
    <input type="text" name="status" placeholder="status">
    <label for="clear">clear</label>
    <input type="checkbox" name="clear">
    <input type="button" value="Submit" onclick="submitForm()" />
  </form>

  <pre><code id="json"></code></pre>

  <script>
    function submitForm() {
      const form = document.getElementById("myForm");
      const formData = new FormData(form);

      // Convert FormData to a plain object
      const data = {};
      formData.forEach((value, key) => {
        if (key == "items") {
          value = JSON.parse(value);
        }

        data[key] = value;

      });
      if (formData.get("clear") === "on") {
        data["clear"] = 1;
      } else {
        data["clear"] = 0;
      }

      // Send data as JSON
      fetch(window.location.href + "/../api", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          if (
            response.headers.get("Content-Type").includes("application/json")
          ) {
            return response.json();
          } else {
            // Handle HTML or other response types
            return response.text();
          }
        })
        .then((result) => {
          if (typeof result === "string") {
            // Handle HTML or other response types
            document.getElementById("json").innerHTML = result;
          } else {
            console.log(result);
            document.getElementById("json").innerHTML =
              JSON.stringify(result);
            // auto - copy token
            if (formData.get("requestType") === "login" && result.status === "success") {
              navigator.clipboard.writeText(result.payload.token);
              console.log("Token copied to clipboard");
            }
          }
        });
    }
  </script>
</body>

</html>