<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS-test</title>
</head>

<body>
    <form id="myForm">
        <select name="requestType">
            <option value="subscribe">subscribe</option>
            <option value="updateOrder">updateOrder</option>
            <option value="getOrders">getOrders</option>
            <option value="getMenu">getMenu</option>
            <option value="isAdmin">isAdmin</option>
            <option value="login">login</option>
            <option value="register">register</option>
            <option value="verify">verify</option>
            <option value="test">test</option>
            <option value="random_stuff_here">non-existent-call</option>
        </select>

        <input type="text" name="username" placeholder="username" />
        <input type="text" name="password" placeholder="password" />
        <input type="text" name="token" id="token" placeholder="token" />
        <input type="text" name="page" placeholder="page" value="1" />
        <input type="text" name="itemsCount" placeholder="itemsCount" value="1" />
        <input type="text" name="items" placeholder="items" value="[2,5,10]" />
        <input type="time" name="startTime" value="09:00">
        <input type="time" name="endTime" value="09:05">
        <input type="date" name="pickUpDate" value="2024-12-14">
        <input type="text" name="paymentMethod" placeholder="paymentMethod" value="thePay">
        <input type="number" name="limit" placeholder="limit" value="5">
        <input type="number" name="interval" placeholder="interval" value="5">
        <input type="number" name="orderId" placeholder="orderId">
        <label for="clear">clear</label>
        <input type="checkbox" name="clear">
        <input type="button" value="Submit" onclick="submitForm()" />
    </form>

    <div style="display: flex; justify-content: space-between; ">
        <p id="time"></p>
        <p id="authCount" style="text-align: center"></p>
        <p id="userCount" style="text-align: right"></p>
    </div>

    <div style="width: 50%; margin: auto;">

        <div id="chat"></div>
        <input type="text" id="text">
        <button id="send" onclick="send()">send</button>
        <script>
            function submitForm() {
                const form = document.getElementById("myForm");
                const formData = new FormData(form);

                // Convert FormData to a plain object
                const data = {};
                formData.forEach((value, key) => {
                    data[key] = value;
                });
                json = JSON.stringify(data)
                send(json)
            }


            time = 0;
            let timer;

            function isJson(str) {
                try {
                    const data = JSON.parse(str);
                    return true
                } catch (error) {
                    //console.log('Received non-JSON data:', event.data);
                    return false
                }
            }


            protocol = window.location.protocol
            //console.log(window.location.protocol)
            if (protocol == 'http:') {
                address = 'ws://' + window.location.host + window.location.pathname.slice(0, -4) + '/kds/'
            } else {
                address = 'wss://' + window.location.host + window.location.pathname.slice(0, -4) + '/kds/'
            }
            const ws = new WebSocket(address);

            

            ws.onmessage = (event) => {
                console.log(event.data)
                /*if (isJson(event.data)) {
                    return
                }*/
                element = document.createElement('p')
                element.innerText = event.data
                document.getElementById('chat').append(element)
            };
            ws.onopen = () => {
                ws.send('New annonymous user has joined the chat')
                startTime = Date.now();
                timer = setInterval(() => {
                    time += 1;
                    minutes = Math.floor(time / 60);
                    seconds = time % 60;
                    document.getElementById('time').innerText = minutes + 'm ' + seconds + 's'
                }, 1000);

                intervalId = setInterval(() => {

                if (ws.readyState === WebSocket.OPEN) {
                const message = {requestType: "ping"};
                ws.send(JSON.stringify(message));
                console.log("Message sent:", message);
                } else {
                console.warn("WebSocket not open. Message not sent.");
                }
                }, 55000);

            };
            function send(msg = '') {
                console.log(msg)
                if (msg.length == 0) {
                    msg = document.getElementById('text').value;
                }
                element = document.createElement('p')
                element.innerText = msg
                element.style.textAlign = 'right';
                document.getElementById('chat').append(element)

                ws.send(msg);
            }
            ws.onclose = () => {
                console.debug('Connection closed');

                element = document.createElement('p')
                element.innerText = 'Connection closed'
                element.style.textAlign = 'center';
                element.style.color = 'red';
                document.getElementById('chat').append(element)

                clearInterval(timer);
            };


            if (protocol == 'http:') {
                address = 'ws://' + window.location.host + '/stats/'
            } else {
                address = 'wss://' + window.location.host + '/stats/'
            }
            couner = new WebSocket(address)
            couner.onmessage = (event) => {
                const data = event.data
                if (isJson(data)) {
                    //console.table(JSON.parse(data))
                    document.getElementById('authCount').innerHTML = "Authenticated user count: " + JSON.parse(data).authCount
                    document.getElementById('userCount').innerHTML = "Connected user count: " + JSON.parse(data).userCount
                }
            }
            function fetchToken() {
            fetch('api', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ requestType: "login", username: "admin", password: "admin" })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('token').value = data.payload.token || 'Failed to fetch token';
                })
                .catch(error => {
                    console.error('Error fetching token:', error);
                    document.getElementById('token').value = 'Error fetching token';
                });
        }
        window.onload = fetchToken;

        </script>
    </div>
</body>

</html>