<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS-test</title>
</head>

<body>
    <div style="display: flex; justify-content: space-between; ">
        <p id="time"></p>
        <p id="authCount" style="text-align: center"></p>
        <p id="userCount" style="text-align: right"></p>
    </div>

    <div style="width: 50%; margin: auto;">
        <script>
            time = 0;
            let timer;

            function isJson(str) {
                try {
                    const data = JSON.parse(str);
                    return true
                } catch (error) {
                    console.log('Received non-JSON data:', event.data);
                    return false
                }
            }


            protocol = window.location.protocol
            console.log(window.location.protocol)
            if (protocol == 'http:') {
                address = 'ws://' + window.location.host + '/backend/'
            } else {
                address = 'wss://' + window.location.host + '/backend/'
            }
            const ws = new WebSocket(address);
            ws.onmessage = (event) => {
                console.log(event.data)
                if (isJson(event.data)) {
                    return
                }
                element = document.createElement('p')
                element.innerText = event.data
                document.getElementById('chat').append(element)
            };
            ws.onopen = () => {
                ws.send('New annonymous user has joined the chat')
                startTime = Date.now();
                timer = setInterval(() => {
                    time += 1;
                    minutes = Math.floor(time / 60);
                    seconds = time % 60;
                    document.getElementById('time').innerText = minutes + 'm ' + seconds + 's'
                }, 1000);

            };
            function send() {

                element = document.createElement('p')
                element.innerText = document.getElementById('text').value
                element.style.textAlign = 'right';
                document.getElementById('chat').append(element)

                ws.send(document.getElementById('text').value);
            }
            ws.onclose = () => {
                console.log('Connection closed');

                element = document.createElement('p')
                element.innerText = 'Connection closed'
                element.style.textAlign = 'center';
                element.style.color = 'red';
                document.getElementById('chat').append(element)

                clearInterval(timer);
            };

            couner = new WebSocket(address)
            couner.onmessage = (event) => {
                const data = event.data
                if (isJson(data)) {
                    console.log(JSON.parse(data).count)
                    document.getElementById('authCount').innerHTML = "Authenticated user count: " + JSON.parse(data).authCount
                    document.getElementById('userCount').innerHTML = "Connected user count: " + JSON.parse(data).userCount
                }
            }

        </script>
        <div id="chat"></div>
        <input type="text" id="text">
        <button id="send" onclick="send()">send</button>
    </div>
</body>

</html>